@import "variables";

.wp-block-sc-raffle-block {
	position: relative;
	font-family: $base-font;
	overflow: hidden;

	&.is-cheat-mode {
		background-color: map-get( $colors, magenta-base );
		color: $base-bg-color;

		p {
			position: absolute;
			bottom: 0px;
			left: -5px;
			font-size: 30px;
			font-style: italic;
			font-weight: 600;
			line-height: 20px;
			margin: 0;
			text-transform: uppercase;
		}
	}

	&__title {
		color: inherit;
		text-align: center;
	}
}

.components-panel {
	padding: ( $base-spacing / 2 );
}

