@import "variables";

.wp-block-sc-raffle-block {
	background-color: $base-bg-color;
	box-sizing: border-box;
	color: $base-text-color;
	font-family: $base-font;
	font-size: $base-font-size;
	line-height: $base-line-height;
	padding: $base-spacing;

	& > * {
		box-sizing: inherit;
	}

	& > * + * {
		margin-top: $base-spacing;
	}

	&__title {
		font-family: $base-font;
		font-size: $base-font-size * 2;
		font-weight: 600;
		margin: 0;
	}

	&__new-item {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;

		& > * {
			flex-basis: calc( 500px * 999 - 100% * 999 );
			flex-grow: 1;
		}

		input[type="text"] {
			min-width: 65%;
		}

		button {
			min-width: calc( 35% - #{$base-spacing} );
			margin-left: $base-spacing;
		}
	}

	&__holder {
		background-color: rgba( $base-bg-color, 0.35 );
		border: 1px solid $base-text-color;
		min-height: 116px; // we want the holding area to be a minimum of two items high
		padding: 2px;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: map-get( $colors, blue-100 );
		border: 1px solid map-get( $colors, blue-600 );
		border-radius: 5px;
		color: map-get( $colors, blue-600 );
		padding: ( $base-spacing / 2 );

		&-default {
			height: 58px; // since i removed the button from the default item i want to manually adjust the height of the default item to match the real items
		}

		&-disabled {
			opacity: 0.75;

			button {
				cursor: not-allowed;
				opacity: 0.75;
				pointer-events: none;

				&::hover {
					background-color: inherit;
				}
			}
		}
	}

	&__input[type="text"] {
		background-color: inherit;
		border: 1px solid $base-text-color;
		box-shadow: inset 1px 1px 3px 1px rgba( map-get( $colors, yellow-400 ), 0.90 );
		color: $base-text-color;
		font-family: $base-font;
		font-size: inherit;
		line-height: inherit;
		padding: ( $base-spacing / 3 ) ( $base-spacing / 2 );

		&::placeholder {
			color: $base-text-color;
		}
	}

	&__button {
		position: relative;
		-webkit-appearance: none;
		appearance: none;
		background-color: map-get( $colors, magenta-base );
		border: 1px solid map-get( $colors, magenta-base );
		color: $base-bg-color;
		font-family: $base-font;
		font-size: inherit;
		font-weight: 600;
		line-height: inherit;
		padding: ( $base-spacing / 3 ) ( $base-spacing / 2 );

		&:hover,
		&:focus {
			background-color: map-get( $colors, magenta-500 );
			border-color: map-get( $colors, magenta-500 );
		}

		&:active {
			top: 2px;
		}
	}

	&__remove-item {
		position: relative;
		height: 32px;
		width: 32px;
		background-color: map-get( $colors, blue-base );
		border-color: map-get( $colors, blue-base );
		margin-left: ( $base-spacing / 2 );

		&::before {
			position: absolute;
			top: 14px;
			left: 4px;
			height: 4px;
			width: 22px;
			background-color: map-get( $colors, blue-100 );
			content: ' ';
		}

		&:hover {
			background-color: map-get( $colors, blue-500 );
			bprder-color: map-get( $colors, blue-500 );
		}

		span {
			position: absolute;
			left: -9999em;
		}
	}

	&__spin {
		display: block;
		margin-left: auto;
		text-align: right;
	}
}
